.input {
    background-color: var(--normal-color);
    border: none;
    padding: 10px 20px;
    width: 200px;
    color: var(--main_dark-color);
    font-size: var(--small-font-size);
    outline: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
