/* .card_wrapper{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
} */
.text{
    font-size: 18px;
    line-height: 1.6;
    color: var(--text-color);
}
.signing_wrapper{
    color: var(--utils_blue-color);
    font-weight: 400;
}
.has_invite{
    color: var(--utils_blue-color);
    margin-left: 5px;
    font-weight: bold;
}
.has_invite:hover{
    color: hsl(212, 100%, 33%);
}