.text {
    font-size: 22px;
    line-height: 1.6;
    color: var(--text-color);
    text-align: center;
    margin-bottom: 30px;
}

.cardWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6rem;
}

.signinWrapper {
    margin-top: 20px;
    color: var(--utils_blue-color);
}

.hasInvite {
    color: var(--utils_blue-color);
    margin-left: 5px;
    font-weight: bold;
}

.hasInvite :hover{
    color: hsl(212, 100%, 33%);
}
