.subHeading {
    color: var(--grey_before-grey-color);
    text-align: center;
    margin-bottom: 20px;
}

.avatarWrapper {
    width: 110px;
    height: 110px;
    border: 3px solid var(--utils_blue-color);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.avatarImage {
    height: 90%;
    width: 90%;
    object-fit: cover;
}

.avatarInput {
    display: none;
}

.avatarLabel {
    color: var(--utils_blue-color);
    margin: 30px 0;
    display: inline-block;
    cursor: pointer;
}
