/* === Google Fonts  === */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:wght@400;500;600;700&family=Tiro+Devanagari+Hindi&display=swap');
*/
/* === Variables css === */

:root {
    /* Logo */
    --logo-size: 10px;

    /* === Colors === */
    /* --- Color Mode -> HSL (Hue, Saturation, Lightness) --- */
    --header-height: 3.5rem;
    --first-color: hsl(48, 100%, 50%);
    /* hsl(353, 100%, 65%)*/
    --second-color: hsl(30, 90%, 59%);
    --title-color: hsl(60, 2%, 10%);
    --text-color: hsl(30, 2%, 20%);
    --body-color: hsl(258, 68%, 98%);
    --box-color: hsl(41, 100%, 89%);
    --container-color: #fff;
    --border-color: rgba(0, 0, 0, 0.1);
    --border-color2: rgba(0, 0, 0, 0.15);
    --my-image-color: linear-gradient(to right, #F9D976, #F39F86);

    --main_lightest-color: hsl(0, 2%, 25%);
    --main_light-color: hsl(0, 0%, 20%);
    --main-color: hsl(0, 0%, 15%);
    --main_dark-color: hsl(0, 0%, 11%);
    --main_darkest-color: hsl(0, 0%, 7%);

    --grey_lightest-color: hsl(189, 100%, 99%);
    --grey_light-color: hsl(200, 32%, 93%);
    --grey_before-grey-color: hsl(180, 1%, 77%);
    --grey-color: hsl(200, 6%, 50%);
    --grey_dark-color: hsl(200, 6%, 30%);
    --grey_darkest-color: hsl(200, 6%, 10%);

    --utils_blue-color: hsl(212, 100%, 50%);
    --utils_purple-color: hsl(240, 69%, 60%);
    --utils_red-color: hsl(4, 90%, 58%);
    --utils_pink-color: hsl(340, 82%, 52%);

    --card-color: var(--main-color);
    /* === Font & Typography === */
    /* --- .5rem = 8px | 1rem = 16px | 2rem = 32px ... --- */

    --body-font: 'Nunito', sans-sarif;
    --big-font-size: 3.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
    --tiny-font-size: 0.625rem;


    /* === Font Weight === */
    --font-medium: 500;
    --font-semi_bold: 600;
    --font-bold: 700;

    /* === Box Shadow === */
    --shadow: 0px 5px 20px 0px rgba(96, 86, 67, 0.1);
    --card_shadow-color: rgba(120, 120, 120, 0.2);

    /* === Border Radius === */
    --border-radius: 20px;

    /*========== Margenes Bottom ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --mb-0-25: 0.25rem;
    --mb-0-5: 0.5rem;
    --mb-0-75: 0.75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/* === Responsive Typography === */
@media screen and (max-width:1024px) {
    :root {
        --big-font-size: 2.75rem;
        --h1-font-size: 1.5rem;
        --h2-font-size: 1.25rem;
        --h3-font-size: 1rem;
        --normal-font-size: 0.938rem;
        --small-font-size: 0.813rem;
        --smaller-font-size: 0.75rem;
    }
}

/* === Theme ===*/
/* Light */
.light-theme {
    --big-font-size: 2.75rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;
    --header-height: 3.5rem;

    --main_lightest-color: hsl(0, 2%, 25%);
    --main_light-color: hsl(0, 0%, 20%);
    --main-color: hsl(0, 0%, 15%);
    --main_dark-color: hsl(0, 0%, 11%);
    --main_darkest-color: hsl(0, 0%, 7%);

    --grey_lightest-color: hsl(189, 100%, 99%);
    --grey_light-color: hsl(200, 32%, 93%);
    --grey_before-grey-color: hsl(180, 1%, 77%);
    --grey-color: hsl(200, 6%, 50%);
    --grey_dark-color: hsl(200, 6%, 30%);
    --grey_darkest-color: hsl(200, 6%, 10%);

    --utils_blue-color: hsl(212, 100%, 50%);
    --utils_purple-color: hsl(240, 69%, 60%);
    --utils_red-color: hsl(4, 90%, 58%);
    --utils_pink-color: hsl(340, 82%, 52%);
    /* --first-color: hsl(48, 100%, 50%);
    
    --second-color: hsl(30, 90%, 59%); */
    --title-color: var(--main_dark-color);
    --text-color: var(--main-color);
    --body-color: var(--grey_lightest-color);
    --box-color: hsl(41, 100%, 89%);
    --container-color: var(--grey_before-grey-color);
    --normal-color: var(--grey_before-grey-color);
    --border-color: rgba(0, 0, 0, 0.1);
    --border-color2: rgba(0, 0, 0, 0.15);
    --border-color3: rgba(0, 0, 0, 0.3);
    --my-image-color: linear-gradient(to right, #F9D976, #F39F86);
    --card-color: var(--grey_light-color);

    
}

.dark-theme {
    --big-font-size: 2.75rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;
    --header-height: 3.5rem;

    --main_lightest-color: hsl(0, 2%, 25%);
    --main_light-color: hsl(0, 0%, 20%);
    --main-color: hsl(0, 0%, 15%);
    --main_dark-color: hsl(0, 0%, 11%);
    --main_darkest-color: hsl(0, 0%, 7%);

    --grey_lightest-color: hsl(189, 100%, 99%);
    --grey_light-color: hsl(200, 32%, 93%);
    --grey_before-grey-color: hsl(180, 1%, 77%);
    --grey-color: hsl(200, 6%, 50%);
    --grey_dark-color: hsl(200, 6%, 30%);
    --grey_darkest-color: hsl(200, 6%, 10%);

    --utils_blue-color: hsl(212, 100%, 50%);
    --utils_purple-color: hsl(240, 69%, 60%);
    --utils_red-color: hsl(4, 90%, 58%);
    --utils_pink-color: hsl(340, 82%, 52%);

    /* --first-color: #ffcc00;
    
    --second-color: #f59638; */
    --title-color:var(--grey_lightest-color);
    --text-color: var(--grey_light-color);
    --body-color: var(--main_darkest-color);
    --box-color: hsl(41, 100%, 89%);
    --container-color: var(--main_dark-color);
    --normal-color: var(--grey_light-color);
    --border-color: rgba(2, 2, 2, 0.1);
    --border-color2: rgba(255, 255, 255, 0.15);
    --border-color3: rgba(245, 245, 245, 0.3);
    --my-image-color: linear-gradient(to right, #F9D976, #F39F86);

    --card-color: var(--main_dark-color);
}

/* Dark */
/* === Base === */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body,
button,
input,
textarea {
    font-family: 'Nunito', sans-sarif;
    font-size: var(--normal-font-size);
}

body {
    background-color: var(--body-color);
    line-height: 1.6;
    color: var(--text-color);
}

h1,
h2,
h3 {
    color: var(--title-color);
    font-weight: var(--font-semi_bold);
    line-height: 1.2;
    -webkit-font-smoothing: antialiased;
}

ul {
    list-style: none;
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.setu_logo {
    --logo-size: 50px;
    width: var(--logo-size);
    height: var(--logo-size);
    margin-right: 10px;
}

/* === Resusable CSS === */
.section {
    padding-top: 7rem;
    padding-bottom: 2rem;
}

.section_title {
    font-size: var(--h1-font-size);
    margin-left: 0.875;

    font-weight: var(--font-bold);
    position: relative;
}


/* === Layout === */
.container {
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.card_wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 140px);
}
/* === Button === */
.btn {
    padding: 1.25rem 2rem;
    line-height: 1;
    border-radius: 1.875rem;
    -webkit-border-radius: 1.875rem;
    -moz-border-radius: 1.875rem;
    -ms-border-radius: 1.875rem;
    -o-border-radius: 1.875rem;
    color: #fff;
    display: inline-block;
    background-color: var(--first-color);
    font-weight: var(--font-bold);
}

@keyframes button-push {
    50% {
        transform: scale(0.8);
        -webkit-transform: scale(0.8);
        -moz-transform: scale(0.8);
        -ms-transform: scale(0.8);
        -o-transform: scale(0.8);
    }

    100% {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }
}

.btn:hover {
    animation: button-push 0.3s linear 1;
    -webkit-animation: button-push 0.3s linear 1;
}

.btn-flex {
    display: inline-flex;
}

.btn_icon {
    margin-left: var(--mb-0-5);
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
    .container {
        margin-left: var(--mb-1-5);
        margin-right: var(--mb-1-5);
    }

    .button {
        padding: 1rem 1.75rem;
    }

    .button__icon {
        width: 22px;
        height: 22px;
    }
}

/* For medium devices */
@media screen and (max-width: 768px) {
    body {
        margin: 0 0 var(--header-height) 0;
    }

    .section {
        padding: 2rem 0 4rem;
    }

    .section__subtitle {
        margin-bottom: var(--mb-3);
    }
}

@media screen and (max-width: 576px) {}

/* For small devices */
@media screen and (max-width: 350px) {
    :root {
        --big-font-size: 2.25rem;
    }

    .container {
        margin-left: var(--mb-1);
        margin-right: var(--mb-1);
    }
}